@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
:root {
  --primary-color: #60ff7b;
  --secondary-color: #515151;
}

body {
  background: #fff;
  margin: 0;
  font-family: 'Poppins';
}

/*Navbar Mobile First*/
.navbar {
  background: white;
  padding: 1em;
}

.navbar .logo {
  padding-left: 1em;
  width: 45px;
  height: 45px;
}

.navbar nav {
  display: none;
}

.navbar .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-content: space-between;
}

.navbar .mobile-menu {
  cursor: pointer;
}

a {
  color: #444444;
  text-decoration: none;
}

nav li a {
  color: var(--secondary-color);
  text-decoration: none;
  display: block;
  padding: .5em;
  font-size: 1.3em;
  text-align: right;
}

nav li a:hover {
  font-weight: bold;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav.menu-btn {
  display: block;
}

.mobile-menu-exit {
  float: right;
  margin: .5em;
  cursor: pointer;
}

/*Navbar Mobile First ends here*/
/*Hero Mobile First*/
section {
  padding: 5em 2em;
}

.hero {
  text-align: center;
}

.left-col .subhead {
  text-transform: uppercase;
  font-weight: bold;
  color: gray;
  letter-spacing: .3em;
}

.left-col h1 {
  font-size: 2.5em;
  line-height: 1.3em;
  margin-top: .1em;
  color: var(--secondary-color);
}

.left-col span {
  color: var(--primary-color);
}

.sofa {
  width: 70%;
  margin-top: 1em;
}

.transition {
  -webkit-transition: opacity 2s;
  transition: opacity 2s;
}

/*Hero Mobile First ends here*/
/*Media Queries Starts here*/
@media all and (min-width: 768px) {
  .hidden-desktop {
    display: none !important;
  }
}

@media all and (max-width: 767px) {
  .hidden-mobile {
    display: none !important;
  }
  nav {
    position: fixed;
    z-index: 999;
    width: 66%;
    right: 0;
    top: 0;
    background: rgba(255, 255, 255, 0.3);
    -webkit-backdrop-filter: blur(10px);
            backdrop-filter: blur(10px);
    -webkit-transition: .5s;
    transition: .5s;
    height: 100vh;
    padding: 1em;
  }
  nav ul.menu {
    margin-top: 5em;
  }
  nav li a {
    color: var(--secondary-color);
    text-decoration: none;
    display: block;
    padding: .5em;
    font-size: 1.3em;
    text-align: right;
  }
  nav li a:hover {
    font-weight: bold;
  }
  nav li.go-premium-cta a {
    width: 35%;
    color: var(--primary-color);
    border: 1.5px solid var(--primary-color);
    font-weight: bold;
    border-radius: 1em;
    margin-top: -.3em;
    -webkit-transform: translate(135%, 0%);
            transform: translate(135%, 0%);
  }
  nav li.go-premium-cta a:hover {
    font-weight: normal !important;
    background: var(--primary-color);
    color: white;
  }
  .clique {
    color: var(--primary-color);
    border: 3px solid var(--primary-color);
    font-weight: bold;
    border-radius: 1em;
    margin-top: -.2em;
  }
  .clique:hover {
    background: var(--primary-color);
    color: white;
  }
  .clique:focus {
    display: none;
  }
  .sofa {
    position: absolute;
    width: 45%;
    left: 30%;
    margin-top: 50px;
  }
}

@media only screen and (min-width: 768px) {
  .logo-lg {
    padding-left: 1em;
    width: 200px;
    height: auto;
  }
  .mobile-menu, .mobile-menu-exit {
    display: none;
  }
  .navbar .container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 180px auto;
        grid-template-columns: 180px auto;
    -webkit-box-pack: unset;
        -ms-flex-pack: unset;
            justify-content: unset;
  }
  .navbar nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    background: none;
    position: unset;
    height: auto;
    width: 100%;
    padding: 0;
    margin-top: 25px;
  }
  .navbar nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .navbar nav a {
    color: #515151;
    font-size: 1em;
    padding: .1em 1em;
  }
  .navbar nav ul.menu {
    margin: 0;
  }
  .navbar nav li.current a {
    font-weight: bold;
  }
  .navbar nav li.go-premium-cta a {
    color: var(--primary-color);
    border: 3px solid var(--primary-color);
    font-weight: bold;
    border-radius: 1em;
    margin-top: -.2em;
  }
  .navbar nav li.go-premium-cta a:hover {
    background: var(--primary-color);
    color: white;
  }
  .sofa {
    position: absolute;
    width: 45%;
    left: 50%;
  }
}

@media only screen and (min-width: 1080px) {
  .logo-lg {
    padding-left: 1em;
    width: 200px;
    height: auto;
  }
  .container {
    position: relative;
    width: 1080px;
    margin: 0 auto;
  }
  section {
    padding: 10em 4em;
  }
  .hero .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    text-align: left;
  }
  .hero .container .left-col {
    margin: 3em 3em 0 5em;
    width: 45%;
  }
  .hero .container .left-col h1 {
    font-size: 2em;
    width: 90%;
  }
  .clique {
    color: var(--primary-color);
    border: 3px solid var(--primary-color);
    font-weight: bold;
    border-radius: 1em;
    margin-top: -.2em;
  }
  .clique:hover {
    background: var(--primary-color);
    color: white;
  }
  .clique:focus {
    display: none;
  }
  .sofa {
    position: absolute;
    width: 45%;
    left: 50%;
  }
  .hero-cta {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .primary-cta {
    margin-right: 1em;
  }
  ul.features-list {
    display: block;
    margin-left: 5em;
  }
  ul.features-list li {
    font-size: 1.4em;
  }
  ul.features-list li:before {
    width: 30px;
    height: 30px;
  }
  .features-section {
    position: relative;
  }
  .features-section img {
    display: block;
    position: absolute;
    right: 0;
    width: 350px;
    bottom: -2em;
  }
  .testimonials-section ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .testimonials-section ul li {
    margin: 0 1em;
  }
  .contact-section {
    position: relative;
  }
  .contact-section .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .contact-right {
    position: absolute;
    right: 0;
    top: 0;
    width: 45%;
    height: 100%;
  }
  .contact-right iframe {
    height: 100%;
  }
}

/*
@media only screen and (min-width: 1450px) {
    .features-section {

        &:before {
            content: '';
            position: absolute;
            width: 10%;
            height: 20em;
            background: var(--primary-color);
            left: 0;
            top: -4em;
        }

        &:after {
            content: '';
            position: absolute;
            width: 200px;
            height: 20em;
            background: url('../images/dots.svg') no-repeat;
            left: 4.5em;
            top: 2em;
        }
    }
}*/
/*# sourceMappingURL=main.css.map */