/*
 * ─── GLOBAL ─────────────────────────────────────────────────────────────────────
 */
:root {
    --main-black: #0f0f0f;
    --main-gray: #8a8ca5;
    --main-purple: rgba(196, 4, 255, 0.514);
    --main-green: rgba(0, 250, 154, 0.678);
    --main-red: rgba(255, 0, 0, 0.664);
    --main-orange: #f15a29;
}

.wrapper-content {
    width: 70%;
    margin: 0 auto;
}
.blue {
    color: #05113d;
}
.r {
    text-align: right;
    margin-right: 300px;
    margin-bottom: 530px;
}
.r-m {
    text-align: right;
    margin-right: 260px;
    margin-bottom: 250px;  
}
.l {
    padding-left: 200px;
    
}
.work {
    height: 500px;
}
/* ------- Motion --------*/
.delay-1 {
    animation-delay: 0.1s;
}
.delay-2 {
    animation-delay: 0.3s;
}
.delay-3 {
    animation-delay: 0.5s;
}
.delay-4 {
    animation-delay: 0.7s;
}

/*----------Branding-------*/

.branding {
    width: 600px;
    height: 400px;
    left: 85px;
    top: -167px;
    margin-right: 0px;
    position: relative;
    display: block;
}
.rec-first {
    background: linear-gradient(65deg, transparent 10%, rgba(196, 4, 255, 0.514),rgba(196, 4, 255, 0.514));
    height: 145px;
    width: 690px;
    position: absolute;
    top: -62px;
    right: 100px;
    z-index: -1 !important;
    display: block;
}
.letter {
    font-weight: bold;
    color: var(--main-black) !important;
}
.letterbold {
    color: var(--main-purple) !important;
}

/*----Desktop---*/

.desktop {
    width: 550px;
    height: 350px;
    right: 390px;
    top: -60px;
    margin-right: 0;
    position: relative;
    display: block;
}
.rec-second {
    background: linear-gradient(45deg, transparent 25%, transparent 25%, #00FA9A);
    height: 150px;
    width: 620px;
    position: absolute;
    top: -26px;
    left: 293px;
    z-index: -1;
}
.letterbold2 {
    color: var(--main-green) !important;
}
.letter-left {
    position: relative;
    display: inline;
    left: 650px;
    top: 88px;
}
/*----Mobile---*/

.mobile {
    display: block;
    position: relative;
    top: -27%;
    left: 255px;
    width: 345px;
    height: 505px;
    z-index: -1;


}
.rec-third {
    background: linear-gradient(45deg, transparent 25%, rgb(250, 0, 0), rgb(250, 0, 0));
    height: 145px;
    width: 800px;
    position: absolute;
    top: 0px;
    right: 100px;
    z-index: -1 !important;
    display: block;
}
.letterbold3 {
    color: var(--main-red) !important;
}
.letter-right {
    position: relative;
    display: inline;
    left: 2px;
    top: 109px;
}
/*-----Graphic and Visuals------*/

.graphic {
    width: 550px;
    height: 450px;
    right: 390px;
    top: -120px;
    margin-right: 0;
    position: relative;
    display: block;
}
.rec-fourth {
    background: linear-gradient(65deg, transparent 25%, transparent 25%, var(--main-orange));
    height: 150px;
    width: 780px;
    position: absolute;
    top: -5px;
    left: -15px;
    z-index: -1;
}
.letter-medium {
    position: relative;
    display: inline;
    left: 440px;
    top: 109px;
}
.letterbold4 {
    color: var(--main-orange) !important;
}
/*---Paragraphs---*/
.left-mb {
    display: inline-block;
    top: -195px;
    left: 600px;
}
.right-mb {
    display: inline-block !important;
    top: -195px;
    left: 0px;
}
.right-mb2 {
    display: inline-block !important;
    top: -195px;
    left: 300px;
    
}
.al {
    align-self: baseline;
}
.center-mb {
    display: inline-block;
    top: -195px;
    left: 0px;
}
.letter-mb{
    font-size: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    letter-spacing: -2px;
    line-height: 58px;
    text-align: center;
    
}
.letter-p{
    font-weight: 300;
    line-height: 26px;
    color: grey;
    text-align: justify;
}
.l-right {
    text-align: right;
}



@media (max-width: 768px) {
.desactived{
    display: none;  
}
.work {
    height: 250px;
}
.right-mb, .right-mb2 {
    left: 0 !important;
    top: 0px;
    padding-bottom: 0px;
}
.medium-mb {
    display: none;
}
.left-mb {
    left: 0;
    top: 470px;
    padding: 10px;

}
.pd {
    margin-bottom: 28px;
}
.letter-mb {
    text-align: left;
}
.letter-p {
    font-size: 16px;
    line-height: 36px;
    font-weight: 300 !important;
    margin-top: 0px;
    text-align: left;

}
.space {
    width: 100%;
    height: 100px;
}
.z-index {
    z-index: 1 !important;
}
/*------Branding-------*/


    .branding {
        position: relative;
        width: 320px;
        height: 185px;
        top: 370px;
        left: 8px;
        z-index: 0 !important;
        display: block !important;
    }
    .rec-first {
        background: linear-gradient(65deg, transparent 25%, rgba(196, 4, 255, 0.514),var(--main-black));
        height: 145px;
        width: 450px;
        position: absolute;
        top: -62px;
        z-index: -1 !important;
    } 
/*----Desktop---*/

.desktop {
    width: 350px;
    height: 180px;
    right: 150px;
    top: -109%;
    margin-right: 0;
    position: relative;
    display: block !important;
}
.rec-second {
    background: linear-gradient(65deg, transparent 25%, transparent 25%, #00FA9A);
    height: 137px;
    width: 348px;
    position: absolute;
    top: -5px;
    left: 2px;
    z-index: -1;
}
.letter-left {
    left: 150px;
    top: 95px;
}
/*----Mobile---*/
.whitespace {
    display: none;
}
.mobile {
    display: block !important;
    position: relative;
    top: 70%;
    left: 145px;
    width: 195px;
    height: 300px;
    z-index: 1;

}
.rec-third {
    background: linear-gradient(65deg, transparent 5%, rgb(250, 0, 0), var(--main-black));
    height: 145px;
    width: 380px;
    position: absolute;
    top: 0px;
    right: 10px;
    z-index: -2 !important;
    
}
.letterbold3 {
    color: var(--main-red) !important;
}
.letter-right {
    position: relative;
    display: inline;
    left: 2px;
    top: 109px;
}
/*----Graphic and Visuals---*/

.graphic {
    width: 350px;
    height: 240px;
    right: 100px;
    top: 475px;
    margin-right: 0;
    position: relative;
    display: block !important;
}
.rec-fourth {
    background: linear-gradient(65deg, transparent 25%, var(--main-orange));
    height: 137px;
    width: 350px;
    position: absolute;
    top: 769px;
    left: 7px;
    z-index: -1;
}
.letter-medium {
    left: 150px;
    top: 870px;
}
.top-mb {
    top: 750px;
}

}/*
@media(min-width: 320px) and (max-width: 686px) {

    .wrapper {
        height: 0%;
        margin: 0 auto;
    }

    .whitespace {
        display: none;
    }




   .branding {
    position: relative;
    width: 230px;
    height: 145px;
    top: 405px;
}
.rec-first {
    background: linear-gradient(65deg, transparent 25%, rgba(196, 4, 255, 0.514),var(--main-black));
    height: 119px;
    width: 495px;
    position: absolute;
    top: -35px;
    right: 5px;
    z-index: -1 !important;
}  


.desktop {
    width: 250px;
    height: 170px;
    right: 95px;
    top: -109%;

}
.rec-second {
    background: linear-gradient(65deg, transparent 25%, transparent 25%, #00FA9A);
    height: 120px;
    width: 300px;
    position: absolute;
    top: -5px;
    left: 0px;
    z-index: -1;
}
.letter-left {
    left: 110px;
    top: 80px;
}




.mobile {
    display: block !important;
    position: relative;
    top: 75%;
    left: 125px;
    width: 155px;
    height: 245px;
    z-index: 1;

}
.rec-third {
    background: linear-gradient(65deg, transparent 5%, rgb(250, 0, 0), var(--main-black));
    height: 135px;
    width: 350px;
    top: 0px;
    right: 5px;

    
}
.letter-right {
    position: relative;
    display: inline;
    left: 2px;
    top: 99px;
}



.graphic {
    width: 200px;
    height: 180px;
    right: 50px;
    top: 475px;
    margin-right: 0;
    position: relative;
    display: block !important;
}
.rec-fourth {
    background: linear-gradient(65deg, transparent 25%, var(--main-orange));
    height: 137px;
    width: 299px;
    top: 769px;
    left: 0px;
    z-index: -1;
}
.letter-medium {
    left: 88px;
    top: 870px;
}
.top-mb {
    top: 750px;
}
}*/
/*
 * ─── NAV ────────────────────────────────────────────────────────────────────────
 

.rec {
    background-color: var(--main-green);
    display: inline-block;
    width: 7px;
    height: 14px;
    margin-right: 3px;
}

 * ─── CONTENT ────────────────────────────────────────────────────────────────────
 *
.landing {
    margin-top: 150px;
    display: flex;
}
.section2 {
    margin-top: 250px;
    display: flex;
}

.section-middle {
    margin-top: 500px;
    bottom: 0px;
    display: flex;
}
.left {
    flex: 1;
    margin-top: 140px;
    position :relative;
}
.left2 {
    flex: 1;
    margin-top: 207px;
    margin-left: -150px;
    position :relative;    
}
.left3{
    flex: 1;
    margin-top: -75px;
    margin-left: -150px;
    position :relative;
    z-index: 1;
}
.left4 {
    flex: 1;
    margin-top: 207px;
    margin-left: -150px;
    position :relative;    
}
.right {
    flex: 1;
    position: relative;
}
.right2 {
    flex: 1;
    position: relative;
    left: 150px;
}
.right3 {
    flex: 1;
    position: relative;
}
.right4 {
    flex: 1;
    position: relative;
}

.right p {
    max-width: 500px;
}
left p {
    max-width: 500px;
}

.skills {
    float: right;
}

/*
.skill-box {
    background-color: #05113d;
    margin:  30px 0;
    text-align: center;
    width: 390px;
    height: 100px;
    line-height: 120px;
    -webkit-box-shadow: 0px 5px 20px 0px rgba(75,79,124,0.1);
    -moz-box-shadow: 0px 5px 20px 0px rgba(75,79,124,0.1);
    box-shadow: 0px 5px 20px 0px rgba(75,79,124,0.1);
}*
.img {
    width: 340px;
    height: 485px;
    z-index: -1;
    display: block;

}
.foto {
    width: 550px;
    height: 350px;
    z-index: -1;
    display: block;

}
.img2 {
    width: 650px;
    height: 300px;
    margin-right: 0px;
    z-index: 1;
    display: block;

}

.skill-upper {
    top: -60px;
    left: 60px;
}
.skill-upper2 {
    top: -60px;
    left: 60px; 
}
.skill-upper3 {
    top: -250px;
    left: 60px;   
}
.skill-box >h2 {
    color: white;
    font-size: 17px;
}

.rec-large2 {
    background: linear-gradient(45deg, transparent 25%, transparent 25%, #00FA9A);
    height: 150px;
    width: 620px;
    position: absolute;
    top: -45px;
    left: -80px;
    z-index: -1;
}
.rec-large3 {
    background-color: var(--main-green);
    height: 260px;
    width: 1000px;
    position: absolute;
    top: -142px;
    left: -472px;
    z-index: -1;
}
.line {
    height: 3px;
    width: 120px;
    background-color: white;
    position: absolute;
    top: 30px;
    left: -140px;
}
.line2 {
    height: 3px;
    width: 120px;
    background-color: var(--main-green);
    position: absolute;
    top: 30px;
    left: 60px;   
}
.section2 {
    margin-top: 300px;
}

.rec-medium {
    background-color: var(--main-green);
    height: 145px;
    width: 699px;
    position: absolute;
    top: -28px;
    right: 20px;
    z-index: -2;
}

.arrow {
    position: absolute;
    right: -265px;
    top: -140px;
}
.arrow1 {
    position: absolute;
    right: -145px;
    top: -45px;
}
.arrow2 {
    position: absolute;
    right: -145px;
    top: -45px;
}
.letterbold {
    color: var(--main-green);
}
.letterbold2 {
    color: #05113d;
}
/*
 ─── BACKGROUND LINES ───────────────────────────────────────────────────────────
 *
.lines {
    display: block;
    width: 1px;
    height: 100vh;
    background-color: lightgray;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    z-index: 0;
}
.right-lines-1 {
    transform: translateX(300px);
    -webkit-transform: translateX(300px);
}
.right-lines-2 {
    transform: translateX(600px);
    -webkit-transform: translateX(600px);
}
.right-lines-3 {
    transform: translateX(900px);
    -webkit-transform: translateX(900px);
}
.left-lines-1 {
    transform: translateX(-300px);
    -webkit-transform: translateX(-300px);
}
.left-lines-2 {
    transform: translateX(-600px);
    -webkit-transform: translateX(-600px);
}
.left-lines-3 {
    transform: translateX(-900px);
    -webkit-transform: translateX(-900px);
}

/*
 * ─── FOOTER ─────────────────────────────────────────────────────────────────────
 *
footer {
    position: fixed;
    bottom: 50px;
    right: 5%;
}
.social {
    position: fixed;
    left: 5%;
}
.social > a {
    margin-right: 60px;
}
.social a{
    color:var(--main-green);
}
footer > p, .social > a {
    font-weight: 500;
}

/*
 * ─── MOTION ─────────────────────────────────────────────────────────────────────
 *
.delay-1 {
    animation-delay: 0.1s;
}
.delay-2 {
    animation-delay: 0.3s;
}
.delay-3 {
    animation-delay: 0.5s;
}
.delay-4 {
    animation-delay: 0.7s;
}

@media
only screen
and (min-device-width : 320px)
and (max-device-width : 480px)
and (orientation : portrait)
and (-webkit-min-device-pixel-ratio : 2) {
    */
/*.wrapper-content {
    width: 50%;
    height: 0%;
    margin: 0 auto;
}
.l {
    padding-left: 0px;
    
}
.white-block {
    background: white;
    width: 1000px;
    height: 750px;
    z-index: 0;
    top: 240%;
    position: absolute;
    
}
.white-block2 {
    background: white;
    width: 1000px;
    height: 750px;
    z-index: -2;
    top: 600%;
    position: absolute;
    
}
.delay-block {
    animation-delay: 1.4s;
}
Graphic and Visual Designer
.landing {
    margin-top: 250px;
    width: 80%;
}    
.left {
    margin-top: 140px;
    position :relative;
    left: 85%;
}
.line {
    height: 5px;
    width: 150px;
    background-color: white;
    position: absolute;
    top: 50px;
    left: -180px;
}   
.arrow1 {
    position: absolute;
    width: 15%;
    right: -145px;
    top: -45px;
}
Branding Creation

.right {
    left: -600px;
    top: 500px;
}
.l {
    padding-left: 180px;
    
}
.skill-upper {
    top: 75px;
    left: 60px;
}

.arrow2{
    display: none;
}
UI/UX Design Mobile
.rec-large2 {
    background: linear-gradient(45deg, #00FA9A 25%, transparent 90%, transparent);
    height: 325px;
    width: 725px;
    top: -38px;
    left: 3px;
}
.img {
    width: 480px;
    height: 650px;
}
.skill-upper2 {
    top: -100px;
    left: 8px;
}
.l-mb {
    left: 95px;
    margin-right: 65px;
    margin-bottom: 0px;  
}
UI/UX Design Desktop
.img2 {
    width: 750px;
    height: 450px;
    margin-right: 0px;
}
.left2 {
    margin-top: 0px;
    margin-left: -400px;   
}
.r-m {
    margin-right: 0700px;
    margin-bottom: 400px;  
}
.skill-upper3 {
    top: 50px;
    left: 8px;
}
.right3 {
    left: -670px;
    top: 300px;
}
.rec-medium {
    height: 185px;
    width: 699px;
    top: -28px;
    left: -420px;
}
Let´s Start a Project
.section2{
    margin-top: 500px;
    margin-bottom: 500px;
}
.left4 {
    margin-top: 0px;
    margin-left: 0px;   
}
.r {
    margin-right: 0px;
    margin-bottom: 0px;
}
.rec-large3 {
    height: 550px;
    width: 1000px;
    top: -312px;
    left: -472px;
}
.arrow {
    width: 15%;
    right: -10px;
    top: -310px;
}
Design & Process
.size {
    font-size: 100px;    
}
/*.right4 {
    left: -15px;;
    top: -108px;
    position: relative;
}
.line2 {
    height: 5px;
    width: 100px;
    top: 50px;
    left: 68px;   
}
.desactived{
    display: none;  
}
}
*/
